/* components/CartWidget.css */
.cart-widget {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-widget img {
    width: 30px; 
    height: auto;
    margin-right: 5px;
    filter: brightness(0) invert(1); /* Esto convierte el negro en blanco */
}

.cart-widget span {
    color: white;
    font-weight: bold;
}