/* components/NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11121b;
    padding: 10px 20px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}